body {
  background-color: #f7f3f9;
  font-family: "Poppins", sans-serif;
}

.btn-custom {
  background-color: #b38cb4;
  border: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #9c77a2;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navbar {
  background-color: #c8a2c8 !important;
  font-family: "Poppins", sans-serif;
}

.task-list {
  margin-top: 20px;
}
